- function merge(a,b){for (var f in b) { a[f] = b[f]}; return a}
- function prefix(a,pre){
  - var r={};
  - for (var f in a) {
    - if (a[f]['index'] === false) continue;
    - if (f == 'index') {
      - r[pre] = a[f] } 
    - else r[pre+f] = a[f]; }
  - return r }

- function subdirs(b){
  - var r={};
  - for (var i in b) {
    - if (i !== '_data' && i !== '_contents') r[i]=b[i] }
  - return r }

- function all_posts(b,pre){
  - var r=prefix(b._data,pre);
  - for(var s in subdirs(b)){
    - merge(r, all_posts(b[s],pre+s+'/')) }
  - return r }

- function href(path){
  - return '/' + normalize(path).join('/') }

- function subtree(path) {
  - var section = public;
  - while (path.length > 0) {
    - section = section[path.shift()]
    - if (!section) return false }
  - return section }

- function children_of(path){
  - var idx = subtree(path);
  - var children = false
  - if (idx) {
    - all_children = idx['_data']
    - for (var slug in all_children) {
      - if (all_children[slug].index !== false) {
        - children = children || {}
        - children[slug] = idx[slug] }}}
  - return children }

- function post(path){
  - var section = subtree(path.slice(0,-1))
  - return section && section._data && section._data[slug(path)] || {} }

- function normalize(path) { // trim 'index' from end of {path} for meta() etc
  - if (path.length == 1) return path // can't go up from the top
  - return (path.slice(-1)[0] == 'index') ? path.slice(0, -1) : path }

- function slug(path) {return path.slice(-1)[0] || '' }

- function slugToTitle(slug) { // helper for title()
  - return slug.replace(/-/g,' ').replace(/([^\W_]+[^\s-]*) */g,function(w){
    - return w.charAt(0).toUpperCase() + w.substr(1)
  - })}

- function title(path) { // find a title for {path}
  - return post(path).title || slugToTitle(slug(normalize(path))) }

- function active(path) { // is {path} an ancestor of {current.path}?
  - return path.length <= current.path.length && href(current.path.slice(0, path.length)) == href(path) }

- function pathToRoot(path) { // the relative path from path to root
  - var numLevelsUp = path.length - 1;
  - return Array(numLevelsUp + 1).join("../");
- }
- function excerpt(path) {
  - var content = partial(pathToRoot(current.path) + path.join('/')) || ""
  - if(content.indexOf("<!-- more -->") == -1) return content
  - else return content.split("<!-- more -->")[0] }

- var months = ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec']
- function format_date(d){
  - var D = new Date(d)
  - return months[D.getMonth()]+' '+D.getDate()+', '+D.getFullYear() }


mixin link(path)
  a(href=href(path) title=title(path) class="post-link"+(active(path)?" active":""))
    if block
      block
    else
      = title(path)

mixin date_label(d)
  if d
    div.date(data-raw=d)= format_date(d)
    | 

mixin post_summary(path)
  .post-summary
    mixin link(path)
    mixin date_label(subtree(path).date)
    div.excerpt!= excerpt(path)

mixin nav(path)
  - var children = children_of(path)
  each post,slug in children
    mixin link(path.concat(slug))
  
